[alias]
	evologlong = log --graph --abbrev-commit --exclude=refs/stash --decorate --format=format:'%C(bold blue)%H%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	evolog = log --graph --abbrev-commit --exclude=refs/stash --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	trash = git pull add -A && git commit -m 'trash' && git reset --hard HEAD^
	findwhatadded = log --diff-filter=A
